@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-5">

            <h4>G151210009</h4>
            <h1>Tuğçe ŞAHİN</h1>
            
        </div>
    </div><! --/row -->
</div> 
    

